/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 5, 2015, 3:33:20 PM
    Author     : nick
*/


html {
    background-color: #000;
}

h1{
    text-align:center;
}

.logo {
	margin: 0 auto;
	text-align:center;
	margin-bottom:1em;
}

nav {
    text-align:center;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    word-spacing: 2em;
    background-color:white;
    padding-top:1em;
    padding-bottom:1em;
    margin-bottom:2em;
    margin-left:auto;
    margin-right:auto;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    text-align:center;
}

nav > a:hover, /* mouse */
nav > a:focus, /* tab */
nav > a:active {
    background-color: black;
    color:black;
    }


nav > a {
    text-decoration: none;
    color:black;
    font-family:sans-serif;
}

main {
    margin-top:4em;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:50px;
    padding-top:.5em;
    padding-bottom:.5em;
    padding-left:1em;
    padding-right:1em;
    width: 40em;
    background-color: white;
    line-height: 140%;
    font-family:sans-serif;
}

p > a {
	text-decoration:none;
	font-weight:bold;
	color: black;
}


p > a:hover, /* mouse */
p > a:focus, /* tab */
p > a:active {
    background-color: black;
    color:black;
    }