/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 5, 2015, 3:33:20 PM
    Author     : nick
*/

@import url(https://fonts.googleapis.com/css?family=Archivo+Narrow:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:700);




html {
    background-color: #211D0F;
    color:#211D0F;
}

h1{
    text-align:center;
    font-family: 'Josefin Sans', sans-serif;
}

h2{
    font-family: 'Josefin Sans', sans-serif;
    font-size:1.5em;
}

h3 {
    font-family: 'Archivo Narrow', sans-serif;
    font-style:italic;
    font-size:1.3em;
}

.logo {
    margin: 0 auto;
    text-align:center;
    margin-bottom:1em;
}

p > img {

	max-width: 100%;
	max-height: 600px;
	text-align: center;

}


@media (min-width:600px){
    ul{
        display:flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        white-space: nowrap;
    }
    
}

@media (max-width:600px){
    li{
        font-size:1.2em;
        padding:1em;
    }
}

ul {
    text-align:center;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    background-color:white;
    padding:1em;
    margin-bottom:1em;
    margin-left:auto;
    margin-right:auto;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    text-align:center;
}

nav > ul >li >a:hover, /* mouse */
nav > ul >li >a:focus, /* tab */
nav > ul >li >a:active {
    background-color: #FFDC74;
    color:black;
    padding:.75em;
}

nav > ul {
    list-style: none;
}

nav > ul > li > a {
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    color:#211D0F;
    padding:.75em;
}

main {
    margin-top:4em;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:50px;
    padding-top:.5em;
    padding-bottom:.5em;
    padding-left:1em;
    padding-right:1em;
    max-width: 40em;
    background-color: white;
    line-height: 140%;
    font-family: 'Archivo Narrow', sans-serif;
}



p > a {
    text-decoration:none;
    font-weight:bold;
    color: #211D0F;
}


p > a:hover, /* mouse */
p > a:focus, /* tab */
p > a:active {
    background-color: #FFDC74;
    color:black;
}
      
input:invalid {
  background: hsla(0, 90%, 70%, 1);
}

input:valid {
  background: hsla(100, 90%, 70%, 1);
}