/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 22, 2015, 9:49:47 PM
    Author     : nick
*/

@import url(https://fonts.googleapis.com/css?family=Cutive+Mono);
@import url(https://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,600,600italic,700,700italic);

#logo {
    width: 150px;
    height: 150px;
    float: left;
}

#map {
    width: 100%;
    border: 1px solid #000;
}


nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    text-align: center;
    background: rgba(255,255,255,.85);
    padding: 1em;
    font-size: 125%;
}

h1{
    text-align: center;
    padding:.5em 0 0 0;
    margin:0 0 0 0;
}

p{
    margin: 0 0 0 0;
    font-size: 125%;
    text-align: center;
}

#hours td{
    font-size: 100%;
    padding:  0 .5em 0 .5em;
    border-bottom: 1px solid #777;
}

#hours {
    margin: 0 auto 0 auto;
}

main {
    background: rgba(255,255,255,.85);
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;

}

nav ul li a {
    text-decoration:none;
    font-size: 1.5em;
    color: black;
    margin: 2em;
}

main a {
    color:#a53c00;
    text-decoration: none;
    border-bottom-style: solid;
    border-bottom-width: 1px
}


body {
    background-image: url("background2.jpg");
    background-position: center top;
    background-repeat: repeat;
    background-attachment: scroll;
    background-color: black;
    font-family: 'Crimson Text', monospace;
}

@media (min-width:800px){
    nav ul{
        flex-direction: row;
        position:relative;
        top:2.5em;
        font-size: 100%;
    }

    body {
        width: 800px;
        margin: auto;
    }
    
    main {
        margin-top:6em;
    }
    
}