.card {
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 1em;
    background-color:white;
    margin: 30px 0;
}
a {
    text-decoration: none !important;
    color: #007bff;
}