
<div class="card" [ngClass]="expanded ? 'expanded' : 'collapsed'" id="{{org.name | id}}">
    <img class="expand-icon" src="assets/images/caret.svg" (click)="toggleExpanded()"/>
    <h3>{{org.name | titlecase}}</h3>
    
    <p *ngIf="org.url"><a href="{{org.url}}">{{org.url | url}}</a></p>
    
    <div class="showWhenExpanded">
        <h4 *ngIf="org.mission">Mission</h4>
        <p *ngIf="org.mission">{{org.mission}}</p>
    
        <h4 *ngIf="org.primaryFocus">Primary Focus</h4>
        <p *ngIf="org.primaryFocus">{{org.primaryFocus}}</p>
    
        <h4>Revenue</h4>
        <p>{{org.revenue | currency: 'USD' : 'symbol' : '1.0-0'}}</p>
    </div>

</div>
