.card {
    transition: all .5s linear;
    //border: 1px solid black;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 1px 1em 1em; //1px to prevent margin collapse
    background-color:white;
    flex-shrink: 0;
    //margin: 30px;
    box-sizing: border-box;
    width: 600px;
    @media screen and (max-width: 700px) {
        width:100%;
        max-width:600px;        
        margin: 40px auto;
    }
}
.collapsed  {
    
    .expand-icon {
        transform: rotate(0deg);
        transition: all 0.25s ease-out;
    }
    .showWhenExpanded {
        font-size: 0;
        //margin: 0;
        opacity: 0;
        //padding: 0;
        /* fade out, then shrink */
        transition: opacity .25s,
                font-size .5s .25s,
              ///  margin .5s .25s,
                //padding .5s .25s;
    }
}
.showWhenExpanded {
    /* unshrink, then fade in */
    transition: font-size .25s,
               // margin .25s,
                //padding .25s,
                opacity .5s .25s;
}
.expand-icon {
    margin-top:1em;
    transition: all 0.25s ease-in;
    //font-size: 1.5em;
    transform: rotate(180deg);
    color: #007bff;
    cursor: pointer;
    width:2em;
    float:right;
}

a {
    text-decoration: none !important;
    color: #007bff;
}

.focuses {
    font-size:.8em;
    display:flex;
    flex-wrap:wrap;
    span {
        border-radius: 30px;
        padding: .2em .6em;
        margin: .2em .2em;
        font-weight: bold;
        color: white;
    }
    .primary {
        background: #0088ff;
    }
    .secondary {
        background: #9dabba;
    }
}

.flex {
    display:flex;
    justify-content: space-between;
}

button{
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
    cursor: pointer;
    
}