
<label for="cars">Filter: </label>
<select id="cars" name="cars">
  <option value="volvo">XL</option>
  <option value="saab">L</option>
  <option value="fiat">M</option>
  <option value="audi">S</option>
</select>
<div class="card">
    <h3>The Trevor Foundation</h3>
    <p><a href="https://www.thetrevorproject.org/">thetrevorproject.org</a></p>

    <h4>Mission</h4>
    <p>A nonprofit organization that offers crisis services, advocacy, research, and resources for LGBTQ+ individuals seeking a safe space in a time of need. The Trevor Project wants to end suicide among lesbian, gay, bisexual, transgender, queer & questioning young people, and they want to provide a world for LGBTQ youth to be themselves.</p>

    <h4>Revenue</h4>
    <p>$64,964,527</p>
</div>
