
<div class="card" [ngClass]="expanded ? 'expanded' : 'collapsed'" id="{{org.name | id}}">
    <img class="expand-icon" src="assets/images/caret.svg" (click)="toggleExpanded()"/>
    <h3>{{org.name | titlecase}}</h3>
    
    <p>{{org.city | titlecase}}, {{org.state}}</p>
    <p *ngIf="org.url"><a href="{{org.url}}">{{org.url | url}}</a></p>
    <p ><a href="/{{org.ein}}">Full Details</a></p>
    <p>Revenue: {{org.revenue | currency: 'USD' : 'symbol' : '1.0-0'}}</p>

    <div class="showWhenExpanded">
        <h4 *ngIf="org.mission">Mission</h4>
        <p *ngIf="org.mission">{{org.mission}}</p>

        <app-detailed-table [tableData]="irsData">

        </app-detailed-table>
        <br>
    </div>
    <div class="focuses">
        <span>{{org.primaryFocus}}</span>
    </div>
    

</div>
