.card {
    transition: all .5s linear;
    //border: 1px solid black;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 1px 1em 1em; //1px to prevent margin collapse
    background-color:white;
    flex-shrink: 0;
    //margin: 30px;
    box-sizing: border-box;
    width:100%;   
}