<img *ngIf="loading" class="loading" src="assets/images/loading.gif"/>
<div *ngIf="!loading" class="card">
      <h2>{{org.name | titlecase}}</h2>
    
    <p>{{org.city | titlecase}}, {{org.state}}</p>
    <a href="{{org.url}}" target="_blank"><button>Website<img src="assets/images/external-link.png"/></button></a>
    <a href="{{org.propublicaLink}}" target="_blank"><button>ProPublica<img src="assets/images/external-link.png"/></button></a>

    <h4 *ngIf="org.mission">Mission</h4>
    <p *ngIf="org.mission">{{org.mission}}</p>

    <h4 *ngIf="org.mission">Vision</h4>
    <p *ngIf="org.mission">{{org.vision}}</p>

    <h4 *ngIf="org.mission">Tre's Take</h4>
    <p *ngIf="org.mission">{{org.tresTake}}</p>

    <h4 *ngIf="org.mission">Revenue</h4>
    <p *ngIf="org.mission">{{org.revenue | currency: 'USD' : 'symbol' : '1.0-0'}}</p>

    <h4 *ngIf="org.mission">EIN</h4>
    <p *ngIf="org.mission">{{org.ein}}</p>

    <div class="focuses">
        <span class="primary" *ngIf="org.primaryFocus"># {{org.primaryFocus}}</span>
        <span class="primary" *ngIf="org.primaryFocus2"># {{org.primaryFocus2}}</span>
        <span class="primary" *ngIf="org.primaryFocus3"># {{org.primaryFocus3}}</span>
        <span class="primary" *ngIf="org.primaryFocus4"># {{org.primaryFocus4}}</span>
        <span class="primary" *ngIf="org.primaryFocus5"># {{org.primaryFocus5}}</span>
        <span class="secondary" *ngIf="org.secondaryFocus"># {{org.secondaryFocus}}</span>
        <span class="secondary" *ngIf="org.secondaryFocus2"># {{org.secondaryFocus2}}</span>
        <span class="secondary" *ngIf="org.secondaryFocus3"># {{org.secondaryFocus3}}</span>
        <span class="secondary" *ngIf="org.secondaryFocus4"># {{org.secondaryFocus4}}</span>
        <span class="secondary" *ngIf="org.secondaryFocus5"># {{org.secondaryFocus5}}</span>
    </div>
</div>
